@model IEnumerable<TeleBilling_v02_.Models.ZoneRecords>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Call_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minute_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSVFileId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreementId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minute_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSVFileId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgreementId)
        </td>
    </tr>
}

</table>
